@import "./fonts/fonts.css";

$font: "Circular Black";
$font2: "American Typewriter";

.header {
  display: flex;
  width: 100%;

  .heading {
    font-family: $font2;
    display: flex;
    margin-left: 55%;
    margin-top: 3%;
    font-size: clamp(1rem, 4vw, 2rem);
  }
}

.logo {
  display: flex;
  margin: 2em;
}
